
@{
    ViewBag.Title = "IniciarSesion";
}
<style>
    a {
        text-decoration: none;
    }

    .login-page {
        width: 100%;
        height: 90vh;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    .form-right i {
        font-size: 100px;
    }
</style>
<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">Iniciar Sesión</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                @using (Html.BeginForm("IniciarSesion", "Home", FormMethod.Post,
htmlAttributes: new { id = "formLogin" }))
                                {
                                    <div class="col-12">
                                        <label>Usuario<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                                            <input type="text" class="form-control" name="usuario" placeholder="Ingrese su Usuario" required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Contraseña<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                            <input type="password" class="form-control" name="password" placeholder="Ingrese su Contraseña" required>
                                        </div>
                                    </div>
                                    <div class="row mx-1">
                                        <div class="col-md-7">
                                            ¿No tienes una cuenta?
                                        </div>
                                        <div class="col-md-5">
                                            <a href="@Url.Action("CrearCuenta", "Home")" class="float-end text-primary">Crear Cuenta</a>
                                        </div>
                                    </div>

                                    <div class="col-12 my-2">
                                        <span style="color:red;">@ViewBag.estado</span>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4 float-end mt-4">Acceder</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 bg-primary text-white text-center pt-5">
                                <h1 class="display-3"><i class="fas fa-book-reader"></i></h1>
                                <h1 class="fs-1">SCBiblioteca</h1>
                                <h2 class="fs-1">Bienvenido de Regreso</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


