
@{
    ViewBag.Title = "NotFound";
}

<div class="my-5 page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">No se encontró la página que está buscando.</div>
                <a href="/" class="btn btn-link">Regresar al Inicio</a>
            </div>
        </div>
    </div>
</div>

